<header class="site-header">
    <div class="header-container">

        <a href="../home/home.html" class="header-logo">
            <img src="../../../assets/images/trev.png" alt="Trev Logo">
        </a>

        <div class="header-search">
            <input type="text" placeholder="Search destinations">
            <span class="search-icon">⌕</span>
        </div>

        <nav class="header-nav">
            <a href="../home/home.html" data-link="home">Home</a>
            <a href="#" data-link="discover">Discover</a>
            <a href="#" data-link="trip-planner">Trip Planner</a>
            <a href="#" data-link="my-trips">My Trips</a>
            <a href="../review/review.html" data-link="reviews">Reviews</a>
            <a href="../Profile/profile.html" data-link="profile">Profile</a>
        </nav>

    </div>
</header>