<header class="site-header">
    <div class="header-container">

        <a href="../Dashboard/Dashboard.html" class="header-logo">
            <img src="/Trev/assets/images/home_logo/trev.png" alt="Trev Logo">
        </a>

        <nav class="header-nav">
            <a href="../Dashboard/Dashboard.html" data-link="admin-dashboard">Dashboard</a>
            <a href="../Data_Analytics/Analytics.html" data-link="analytics">Analytics</a>
            <a href="../Manage_Destination/M_destination.html" data-link="manage-destination">Manage Destination</a>
            <a href="../Manage_Review/M_reviews.html" data-link="manage-review">Manage Review</a>
            <a href="../Manage_User/manage_user.html" data-link="manage-user">Manage User</a>
        </nav>

    </div>
</header>